---
layout: default
title: "Keynotes"
permalink: /keynotes/
---

<section id="light-card">
  <div class="p-2 container col-sm-12 col-lg-8 text-justify">
    <h2 class="p-4 text-center">Keynotes</h2>
    <p class="lead">
      Below are details about the keynotes.
    </p>
    <div class="tab-content">

      {% assign keynote_speakers = site.keynote_speakers | sort: 'name' %}
      {% for speaker in keynote_speakers %}

      <div id="{{ speaker.id }}" class="keynote_talk">
        <h3>Title: {{ speaker.keynote_title }}</h3>
        <br>

        {% if speaker.keynote_date %}
        <p class="lead keynote-date">
          <b>Time</b>: {{ speaker.keynote_date }}
        </p>
        {% endif %}

        <p class="lead">
          <b>Abstract</b>: {{ speaker.keynote_abstract }}
        </p>
        <br>

        <h4>Speaker</h4>
        <div class="row">
          <div class col-md-12>

            {% if speaker.photo != "" %}
            <img id="speaker_photo" class="float-start" src="{{ site.final_url }}/assets/img/{{ speaker.photo }}"
              alt="{{ speaker.name }}">
            {% endif %}

            <p class="lead speaker-bio">
              <b>{{ speaker.name }}</b> {{ speaker.bio }}
            </p>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
  <br><br>
</section>
