---
layout: default
title: "Keynotes"
permalink: /keynotes/
---

<section id="light-card">
  <div class="p-2 container col-sm-12 col-lg-8 text-justify">
    <h1 class="p-4 text-center">Keynotes</h1>
    <p class="lead">
      Below are details about the keynotes.
    </p>
    <div class="tab-content">

      {% assign keynote_speakers = site.keynote_speakers | sort: 'name' %}
      {% for speaker in keynote_speakers %}
      <div id="{{ speaker._id }}" class="keynote-talk">
        <h3 class="keynote-title">{{ speaker.keynote_title }}</h3>

        <div class="keynote-info">
          {% if speaker.keynote_date %}
          <p class="lead keynote-info">
            <b>{{ speaker.keynote_date }}</b>
          </p>
          {% endif %}

          {% if speaker.keynote_room %}
          <p class="lead keynote-info">
            <b>Room</b>: {{ speaker.keynote_room }}
          </p>
          {% endif %}

          <p class="lead keynote-info">
            <b>Abstract</b>: {{ speaker.keynote_abstract }}
          </p>
        </div>

        <div>
          <h4>Speaker</h4>
          <div class="row">
            <div class col-md-12>

              {% if speaker.photo != "" %}
              <img id="speaker-photo" class="float-start" src="{{ site.final_url }}/assets/img/{{ speaker.photo }}"
                alt="{{ speaker.name }}">
              {% endif %}

              <p class="lead speaker-bio">
                <b>{{ speaker.name }}</b> {{ speaker.bio }}
              </p>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
  <br><br>
</section>
