---
layout: default
title: "Organizing Committee"
permalink: /organizing_committee/
---

<section id="light-card">
    <div id="cfp" class="p-2 container col-sm-12 col-lg-8 text-justify">
        <h1 class="p-4 text-center">Organizing Committee</h1>
        {% assign committee = site.data.committee.organizing_committee %}
        {% for subcommittee in committee.subcommittees %}
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h3>{{ subcommittee.name }}</h3>
                    <ul>
                        {% for member in subcommittee.members %}
                            {% if member.name %}
                                <li class="lead">{{ member.name }} ({{ member.institution }})</li>
                            {% else %}
                                <li class="lead">TBD</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</section>