---
layout: default
title: "Organizing Committee"
permalink: /organizing_committee/
---

<div class="container-fluid" id="committees">
    {% assign committee = site.data.committee.organizing_committee %}
    <h1 class="p-2 text-center">{{ committee.name }}</h1>
    {% for subcommittee in committee.subcommittees %}
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h4>{{ subcommittee.name }}</h4>
                <ul>
                    {% for member in subcommittee.members %}
                        {% if member.name %}
                            <li>{{ member.name }} ({{ member.institution }})</li>
                        {% else %}
                            <li>TBD</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>