---
layout: default
title: "Photos"
permalink: /photos/
---

<section id="light-card">
  <div class="p-2 container col-sm-12 col-lg-8 text-justify">
    <h1 class="p-4 text-center">Photos</h1>
    <div class="tab-content">
      <p class="lead">
        Here are some photos of the event.
      </p>
      <div id="carouselExampleControls" class="carousel slide" data-bs-interval="10000" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for image in site.data.gallery.images %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img class="d-block w-100" src="{{site.final_url}}/{{ image.image }}" alt="{{ image.alt }}">
            {% if image.caption %}
            <div class="carousel-caption d-none d-md-block">
              <h5>{{  image.caption }}</h5>
              <p>{{ image.subcaption }}</p>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>