---
layout: default
title: "Program Committee"
permalink: /program_committee/
---

<div class="container-fluid" id="committees">
    {% assign committee = site.data.committee.program_committee %}
    <h1 class="p-2 text-center">{{ committee.name }}</h1>
    {% for subcommittee in committee.subcommittees %}
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h4>{{ subcommittee.name }}</h4>
                <ul>
                    {% for member in subcommittee.members %}
                        {% if member.name %}
                            <li>{{ member.name }} ({{ member.institution }})</li>
                        {% else %}
                            <li>TBD</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h4>Track Chairs</h4>
            <ul>
                {% for program in site.data.committee.program_committee.program_committee_members %}
                {% if program.chair == null %}
                {% continue %}
                {% endif %}
                <li><strong>{{ program.track }}</strong>: {{program.chair.name}} {% if program.chair.institution != "" %}({{program.chair.institution}}){% endif %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h4>Program Committee Members</h4>
            {% for program in site.data.committee.program_committee.program_committee_members %}
                <h5>{{ program.track }}</h5>
                {% if program.chair %}
                <p><b>Chair</b>: {{program.chair.name}} {% if program.chair.institution != "" %}({{program.chair.institution}}){% endif %}</p>
                {% endif %}
                <ul>
                    {% for member in program.members %}
                        <li>{{ member.name }} {% if member.institution%}({{ member.institution }}){% endif %}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
</div>