---
layout: default
title: "Technical Sessions"
permalink: /technical_sessions/
---

<section id="light-card">
  <div class="p-2 container col-sm-12 col-lg-8 text-justify" id="technical-sessions">
    <h1 class="p-4 text-center">Technical Sessions</h1>
    {% assign technical_sessions = site.data.technical_sessions.sbacpad %}
    <div class="tab-content">
      {% for session in technical_sessions %}
      <h3>Session {{ session.id }} - {{ session.title }}</h3>
      <p class="lead session-timeslot"><b>{{ session.timeslot }}</b></p>
      <p class="lead session-chair"><b>Chair</b>: {{ session.chair }}</p>
      <ul>
        {% for paper in session.papers %}
        <li>
          <p class="lead paper-title"><b>{{ paper.title }}</b></p>
          <p class="lead paper-authors"><i>{{ paper.authors }}</i></p>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
</section>