#news {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: $gray-100;

    h1 {
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}
#about_the_conference {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: $gray-100;

    h1 {
        margin-left: 1.5rem;
        font-size: 2rem;
        font-weight: 900;
    }

    blockquote {
        margin-left: 1.5rem;
        margin-top: 2rem;
        border-left: 5px solid #333333;
        padding-left: 1rem;
    }
}

#about_host_city {
    padding-top: 5rem;
    padding-bottom: 5rem;

    h1 {
        font-weight: 900;
        font-size: 1.5rem;
    }
}

#aims_and_scope {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $gray-200;

    h1 {
        font-weight: 900;
        font-size: 3rem;
    }

    p {
        font-size: 1.3rem;
    }
}

#important_dates {
    padding-top: 6rem;
    padding-bottom: 6rem;

    h1 {
        font-weight: 900;
        font-size: 3rem;
    }
    p {
        margin-top: 3rem;
        span {
            background-color: $gray-800;
            color: white;

            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            border-radius: 4rem;
        }
    }
}

#submission_instructions {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: $gray-400;

    h1 {
        font-weight: 900;
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    h2 {
        font-weight: 700;
        font-size: 2rem;
    }
    h3 {
        margin-top: 2rem;
        font-weight: 500;
        font-size: 1.3rem;
    }

    #research_paper_submission {
        img {
            width: 65%;
            filter: grayscale(1);
        }
    }
}

#keynote_speakers {
    background-color: $gray-200;
    padding-top: 3rem;
    padding-bottom: 3rem;

    h1 {
        font-weight: 900;
        font-size: 3rem;
        margin-bottom: 4rem;
    }

    p {
        margin-bottom: 2rem;
    }

    .keynote_speaker {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        margin-bottom: 2rem;
        padding-top: 15rem;
        padding-bottom: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;

        color: white;
        height: 400px;
        

        border-radius: 1.25rem;

        h2 {
            font-size: 1.5rem;
            font-weight: 800;
        }
        h4 {
            font-size: 0.75rem;
            font-weight: 500;
        }
        h3 {
            font-size: 0.9rem;
            font-weight: 700;
        }
    }
}
#sponsors_and_organization {
    
    #sponsors {
        padding-top: 4rem;
        padding-bottom: 4rem;
        background-color: $gray-100;
        
        h2 {
            font-weight: 900;
            margin-bottom: 4rem;
        }
        h3 {
            font-weight: 900;
            font-size: 1.5rem;
        }
        hr {
            margin-top: 3rem;
            margin-bottom: 3rem;
            border-bottom: 1px solid #666;
            margin-left: 5rem;
            margin-right: 5rem;
        }
        img {
            margin-bottom: 2rem;
        }

    }
    #organization_and_promotion {
        padding-top: 4rem;
        padding-bottom: 4rem;
        background-color: $gray-300;
        
        h2 {
            font-weight: 800;
            margin-bottom: 2rem;
        }
    }
}
#committees {
    padding-top: 4rem;
    padding-bottom: 4rem;
    h1 {
        font-weight: 900;
        padding-bottom: 2rem;
    }
    h4 {
        font-weight: 700;
    }
}