#program {
    h1 {
        font-weight: 900;
    }
}
#program_overview {
    h3 {
        font-weight: 700;
    }
    h3 span {
        display: block;
        font-size: 1rem;
    }
    .program_row {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    .program_field {
        position:relative;
        padding-top: 1.1rem;
        height: 90px;
        border-radius: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(198, 198, 198);
    }
    .custom_program_field {
        margin: 2rem;
        border-radius: 0.5rem;
        border: 1px solid #6c6c6c;
    }

    .event_activities {
        background-color: rgb(221, 221, 221);
        height: 45px;
    }

    .wcc {
        background-color: rgb(243, 168, 255);
    }
    .keynote {
        background-color: rgb(255, 199, 162);
    }
}

table.program {
    border-collapse: separate;
    border-spacing: 4px;

    td:first-child {
        position: sticky;
        left: 0;
        background-color: white;
        border: 2px solid #3c3c3c;
        border-radius: 0.3rem;
    }

    td.program-slot:not(.space) {
        border: 1px solid rgb(198, 198, 198);
        border-radius: 0.3rem;
        padding: 0.5rem;
        text-align: center;
        vertical-align: middle;
    }

    td.program-slot.space {
        border: none;
        padding: 0;
        background: repeating-linear-gradient(
            45deg,
            #ffffff,
            #ffffff 10px,
            #eeeeee 10px,
            #eeeeee 20px
        );
    }

    a {
        display: block;
        text-decoration: none;
        color: black;
    }

    td.program-slot {
        img {
            //position:absolute;
            bottom: 5px;
            right: 5px;
            height: 25px;
            width: 25px;
        }
        
    }
    
    td.program-slot.registration {
        background-color: #eeeeee;
    }

    td.program-slot.meal {
        background-color: #c6c6c6;
    }

    td.program-slot.social {
        background-color: #5db863;
    }

    td.program-slot.hpcdl {
        background-color: #ffcccc;
    }

    td.program-slot.wscad-tutorial {
        background-color: #cbc3e3;
    }

    td.program-slot.sbacpad,
    td.program-slot.ceacpad {
        background-color: #63c5da;
    }

    td.program-slot.sbacpad-main {
        background-color: #52e2bf;
    }

    td.program-slot.panel {
        background-color: #f89880;
    }

    td.program-slot.honorary {
        background-color: #feba4f;
    }

    td.program-slot.wscad-wic,
    td.program-slot.wscad-weac {
        background-color: #fa8072;
    }

    td.program-slot.wamca {
        background-color: #ffff99;
    }

    td.program-slot.wscad-ctd {
        background-color: #f28500;
    }

    td.program-slot.wscad-main {
        background-color: #cc645b
    }

}

#program_details {
    .nav-pills > .nav-item > .nav-link.active {
        background-color: black;
        color: white;
    }
        
    .nav-pills > .nav-item > .nav-link:hover:not(.active) {
        background-color: #ffcccb;
        color: black;
    }
        
    .nav-link,
    .nav-pills > .nav-item > .nav-link:focus:not(.active) {
        color: black;
    }

    hr {
        margin: 0;
    }

    .tab-content {
        padding: 0 5rem;

        img {
            //position:absolute;
            bottom: 5px;
            right: 5px;
            height: 25px;
            width: 25px;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .row {
            padding: 1rem 0;
        }        
    }
}