#registration {
  padding-top: 4rem;
  padding-bottom: 4rem;

  h1 {
    font-weight: 900;
    padding-bottom: 2rem;
  }

  h4 {
    font-weight: 700;
  }

  table th {
    width: auto !important;
  }

  table td {
    vertical-align: middle;
  }
}