<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }} - {{ site.title }}</title>
        <meta name="google-site-verification" content="UYn1Gam_kaJvOGsN3LnEZtExxqNbPosiIzX8x4Wa3YU" />
        <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}"> {% seo %}
        <link rel="icon" type="image/x-icon" href="{{ site.final_url }}/assets/img/sbac_logo.ico">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{{ site.final_url }}/">
                <img
                    src="{{ site.final_url }}/assets/img/sbac_logo.png"
                    class="img-fluid"
                    alt="SBAC-PAD 2023 Logo"
                    id="sbac_logo"
                />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.final_url }}/registration/">REGISTRATION</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            SUBMISSION
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ site.final_url }}/cfp/">Call For Papers</a></li>
                            <li><a class="dropdown-item" href="{{ site.final_url }}/cfwp/">Call For Workshop Proposals</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            COMMITTEES
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ site.final_url }}/organizing_committee/">Organizing Committee</a></li>
                            <li><a class="dropdown-item" href="{{ site.final_url }}/program_committee/">Program Committee</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            CONFERENCE
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ site.final_url }}/keynotes/">Keynotes</a></li>
                            <li><a class="dropdown-item" href="{{ site.final_url }}/program/">Program</a></li>
                            <li><a class="dropdown-item" href="{{ site.final_url }}/venue/">Venue</a></li>
                            <li><a class="dropdown-item" href="{{ site.final_url }}/panel/">Panel</a></li>
                            <li><a class="dropdown-item" href="{{ site.final_url }}/industrial_talks/">Industrial Talks</a></li>
                            <li><a class="dropdown-item" href="{{ site.final_url }}/social_events/">Social Events</a></li>
                            <li><a class="dropdown-item" href="{{ site.final_url }}/photos/">Photos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            CO-LOCATED EVENTS
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://www.inf.pucrs.br/wscad2023">WSCAD 2023</a></li>
                            <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://discovery.ic.unicamp.br/workshops/hpcdl23/">HPCDL 2023</a></li>                            
                            <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="http://inf.ufrgs.br/gppd/wcc/2023/">WCC 2023</a></li>
                            <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://www.cri.ensmp.fr/conf/wamca2023">WAMCA 2023</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="http://www2.sbc.org.br/sbac/">PAST EDITIONS</a>
                    </li>

                </ul>
            </div>
        </nav>
        <header class="text-center">
            <div class="container-fluid">
                <div id="sbc_logo">
                    <a href="https://www.sbc.org.br/" target="_blank">
                        <span>Promoted by:</span>
                        <br>
                        <img src="{{ site.final_url }}/assets/img/sbc_white.png">
                    </a>
                </div>
                <div id="photo_author">
                    <span>Photographer Zé Carlos de Andrade</span>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h1>SBAC-PAD 2023</h1>
                        <h2>
                            35th IEEE International Symposium on Computer Architecture and High Performance Computing
                        </h2>
                        <br>
                        <h3><span>October 17-20, 2023 — Porto Alegre, Brazil</span></h3>
                    </div>
                </div>
            </div>
        </header>
        {{ content }}
        <footer class="text-center">
            <a class="btn btn-social" href="https://www.instagram.com/sbacpad2023/" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
            <a class="btn btn-social" href="https://www.facebook.com/sbacpad2023/" target="_blank">
                <i class="bi bi-facebook"></i>
            </a>
            <br /><br />
            <h1>SBAC-PAD 2023</h1>
            <h2>All Rights Reserved</h2>
        </footer>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
        ></script>

        <script>
            var prevScrollpos = window.pageYOffset;
        
            window.onscroll = function () {
                var currentScrollPos = window.pageYOffset;
        
                if (prevScrollpos > currentScrollPos) {
                    // User is scrolling up, show the navbar
                    document.querySelector(".navbar").classList.remove("navbar-scroll-hide");
                    document.querySelector(".navbar").classList.add("navbar-scroll-show");
                } else {
                    // User is scrolling down, hide the navbar
                    document.querySelector(".navbar").classList.remove("navbar-scroll-show");
                    document.querySelector(".navbar").classList.add("navbar-scroll-hide");
                }
        
                prevScrollpos = currentScrollPos;
            };
        </script>

    </body>
</html>
